bryrmiginte.se {
  	encode

	handle /api/* {
		reverse_proxy backend:8080
  	}

  	handle /images/* {
		reverse_proxy atlas:3000
	}

	handle {
		root /srv
		try_files {path} /index.html
		file_server
	}
}
